.App {
  font-family: sans-serif;
  text-align: center;
}

.colorSelector {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
